@import url(http://fonts.googleapis.com/css?family=Dosis);
    
    	body {
		  padding: 0;
		  margin: 0;
		  width: 100%;
		  height: 100%;
		  background-color: rgb(186, 186, 186);
		}
		
		/* GENERAL */
		
		a{
	    	cursor: pointer;
    	}
    	
    	h1{
	    	font-family: 'Dosis', sans-serif;
	    	color: #fff;
	    }
    	
    	h2{
	    	font-family: 'Dosis', sans-serif;
	    	font-style: italic;
    	}
    	h3{
	    	font-family: 'Dosis', sans-serif;
	    	color: #fff;
    	}
    	p{
	    	font-family: 'Dosis', sans-serif;
	    	color: #fff;
	    }
	    .hide{
			opacity: 0;
		}
		.show{
			opacity: 1;
		}
		.inline{
			display: inline;
		}
		.none{
			display: none;
		}
		.italic{
			font-style: italic; 
		}
		
    	
    	/* NAV */
    	
		.navbar-brand{
	    	font-size: 30px;
	    	font-family: 'Dosis', sans-serif;
	    	color:white !important; /* override bootstrap */
    	}
    	
    	nav li a{
	    	font-family: 'Dosis', sans-serif;
	    	color:white !important; /* override bootstrap */
    	}
    	
    	.share-button{
	    	margin: 10px;
    	}
    	
    	
    	/* SIDE MENU */
    	
    	#side {    
		  padding: 0;
		  margin: 0;
		  position: absolute;    
		  top: 0;
		  left: 0px;
		  padding-top: 50px;
		  padding-bottom: 30px; 
		  width: 290px;  
		  height: 100%;
		  background-color: none;  
		}
		
		
		#side-content-rtl {
		  overflow-y: auto;
		  width: 100%;
		  height:100%;
		  direction: rtl;
		  padding-left: 10px;
		}
		
		#side-content-ltr {
		  direction: ltr;
		  position: relative;
		}
		
		.prev-button,.next-button{
			padding:5px;
			border:1px solid #F05253;
			border-radius:20px;
			text-transform: uppercase;
			color:white;
			background-color:#F05253;
			font-family: Antenna,Helvetica,sans-serif;	
			opacity:0.8
		}
		
		#spp-prev_next{
			margin-top:10px;
			float:right;
		}
		#subfamily-prev_next, #genus-prev_next{
			margin-top:10px;
			margin-bottom:15px;
			float:right;
		}

		
		/* SIDE: 2 views */
		
		
		#spp_view, #diversity_view, #bentity_view{
			position: absolute;
			top:/* 120px; */ 180px;
		}
		
		
		#view-title{
			position: absolute;
			top:5px;
			left:30px;
		}
		
		/* SWITH VIEWS BUTTONS */
		#mode-buttons{
			position: absolute;
			top:20px;
		}
		
		
		/* FORM */
		
		#querySpecies{
			border: 1px dotted black;
			padding:10px;
			margin-top:40px;
			margin-left:0px;
			width:230px;
		}
		
		#querySubfamily,#queryGenus{
			border: 1px dotted black;
			padding:10px;
			margin-top:40px;
			margin-left:0px;
			width:230px;
		}
		#queryBentity{
			border: 1px dotted black;
			padding:10px;
			margin-top:20px;
			margin-left:0px;
		}
		
		#querySpecies h4, #querySubfamily h4, #queryGenus h4, #queryBentity h4{
			color:white;
	    	font-family: 'Dosis', sans-serif;
	    	margin-top: 2px;
	    	margin-left: 10px;
		}
		label{
			color:white;
	    	font-family: 'Dosis', sans-serif;
	    	margin-top: 10px;
	    	margin-left: 10px;
    	}
    	select{
    		margin-left: 10px;
    	}
    	
    	#bentityView-bentity-select{
    		max-width: 150px;
    	}
    	
    	#sppView-species-select{
    		max-width:200px;
    	}
    	
    	#querySpecies h4{
    		color:white;
    		text-transform: uppercase;
    		font-style:bold;
    	}
    	
    	
    	/* SPECIES AUTOCOMPLETE */
    	.ui-autocomplete.ui-menu {
    		background: white;
    		border: #555 solid 1px;
    		max-height: 200px;
    		overflow: auto;
    		overflow-x: hidden;
    	}
    	
    	.ui-menu-item.ui-state-focus {
    		background: #DDD;
    	}
    	
    	#species-autocomplete{
    		padding-left:14px;
    	}
    	
    	
    	
    	/* FORM DIVERSITY VIEW*/
    	.diversity-button{
	    	margin-top: 10px;
	    	margin-left: 3px;
	    	font-family: Antenna,Helvetica,sans-serif;
			display: inline-block;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 4px;
			padding-right: 4px;
			text-decoration: none;
			font-weight: bold;
			font-size: 10px;
			line-height: 1.5;
			text-transform: uppercase;
			position: relative;
			height: 30px;
			width: 70px;
			background: none;
			color: #111;
			border: 2px solid #111;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
	    }

	    .diversity-button:hover{
			 text-decoration: none;
			 color:white;
			 background-color: black;
			 cursor:pointer;
	    }
	    
	    .diversity-active{
    		-webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .3);
			-moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .3);
			box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .3);
    	}
    	
    	#diversity_bentity p{
    		margin-top:20px;
    	}
    	
    	#queryGenus h4{
			color:white;
    		text-transform: uppercase;
    		font-style:bold;
		}
    	
		
		/* BENTITY MODE */
	
		
		#bentity-description{
			color:white;
    		text-transform: uppercase;
    		font-style:bold;
			font-size:24px;
	    	font-family: 'Dosis', sans-serif;
	    	margin-top: 40px;
	    	margin-left: 0px;
	    	text-align: center;
	    	margin-bottom:0px;
		}
		
		#queryBentity h4{
			color:white;
    		text-transform: uppercase;
    		font-style:bold;
		}
		
    	/* BENTITY CLICKED / MAP DIFFERENT REGION BUTTON */
	    
	    #select-bentity-button{
			margin-top: 100px;
			margin-left: 64px;
	    	font-family: Antenna,Helvetica,sans-serif;
			display: none;
			text-align: center;
			padding-top: 12px;
			padding-bottom: 12px;
			padding-left: 4px;
			padding-right: 4px;
			text-decoration: none;
			font-weight: bold;
			font-size: 12px;
			line-height: 1.5;
			text-transform: uppercase;
			position: absolute;
			z-index:999;
			height: 40px;
			width: 200px;
			background:#F05253;
			color: white;
			border: solid 1px black;
			border-radius:40px;
			-webkit-transition: all 200ms ease;
			-moz-transition: all 200ms ease;
			-ms-transition: all 200ms ease;
			transition: all 200ms ease;
		}
		
		#select-bentity-button:hover{
			color:white;
			background-color:black;
			cursor:pointer;
		}
		
		/* ANIMATION */
		/* (Click on Bentity text and Map a different region button) */
		@-webkit-keyframes hvr-pulse-grow {
		  to {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		  }
		}

		@keyframes hvr-pulse-grow {
		  to {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		  }
		}

		.pulse {
		  -webkit-animation-name: hvr-pulse-grow;
		  animation-name: hvr-pulse-grow;
		  -webkit-animation-duration: 0.8s;
		  animation-duration: 0.8s;
		  -webkit-animation-timing-function: linear;
		  animation-timing-function: linear;
		  -webkit-animation-iteration-count: 2;
		  animation-iteration-count: 2;
		  -webkit-animation-direction: alternate;
		  animation-direction: alternate;
		}


    	
    	/* MAIN PANEL */
    	#main {
		    padding: 0;
		    margin-top: 0;
		    margin-bottom: 0px;
		    margin-left: 0;
		    margin-right: 0px;
		    position: absolute;    
		    top: 0;
		    left: 260px;
		    right: 0px;
		    bottom: 0px;
		    overflow: auto;
		    background-color:/*  #3E454C */none;
		    height: /* 820px; */ 100%;
		    box-sizing: border-box;
		    padding-top: 50px;
		    padding-bottom: 30px;
		}	
		
		
		#current-selection-title{
			margin-top: 10px;
			margin-left: 60px;
			min-width:100px;
			/* background-color:white; */
			padding:5px;
			color:black;
			font-family: 'Dosis', sans-serif;
			font-size:30px;
			position:absolute;
			z-index:999;
			/* text-shadow: 1px 2px 3px white; */
			text-transform: uppercase;
			/* 
border-radius:5px;
			opacity:0.8;
 */
		}
		
		#current-selection{
			color:black;
			position: absolute;
			margin-top: 54px;
			margin-left: 64px;
			font-family: 'Dosis', sans-serif;
			font-size:26px;
			z-index:999;
			padding-right:10px;
			/* text-shadow: 1px 2px 3px white; */
		}
		
		#antWeb{
			/* background: url("../img/antweb50.png") no-repeat; */
		  	height:50px;
		  	width:50px;
			color:black;
			position: absolute;
			margin-top:90px;
			margin-left: 66px;
			font-family: 'Dosis', sans-serif;
			font-size:14px;
			z-index:999;
			/* text-decoration:underline; */
		}
		
		#antWiki{
			/* background: url("../img/antwiki50.png") no-repeat; */
		  	height:50px;
		  	width:50px;
			color:black;
			position: absolute;
			margin-top: 90px;
			margin-left: 130px;
			font-family: 'Dosis', sans-serif;
			font-size:14px;
			z-index:999;
			/* text-decoration:underline; */
		}
		
		#antWeb:hover,#antWiki:hover{
			cursor: pointer;
			color:gray;
		}
		
		#view-description{
			color:black;
			position: absolute;
			margin-top: 400px;
			margin-left: 50px;
			min-width:280px;
			max-width:280px;
			font-family: 'Dosis', sans-serif;
			font-size:20px;
			z-index:999;
			text-align: center;
			background-color:none;
			border-radius:5px;
			
		}
		
		#entry-text{
			color:black;
			position: absolute;
			margin-top: 490px;
			margin-left: 70px;
			width:200px;
			font-family: 'Dosis', sans-serif;
			font-size:30px;
			z-index:999;
			text-align: center;
			text-transform: uppercase;
		}
		
		
		
		img.center{
			display:block;
			margin-left: auto;
			margin-right: auto;
		}
		
		
	
		/* AJAX LOADER */
		#loading-message{
			position:absolute;
			margin-top:30%;
			margin-left:50%;
			z-index:9999;
			display:none;
		}

		
		
		/* FOOTER */
		footer{
			width:100%;
			height:50px;
			background-color:black;
			color:white;
			position:fixed;
			bottom:0px;
		}
		footer p{
			/* margin-top:5px; */
			text-align:center;
		}
		
		footer-logo{
			width:40px;
			height:40px;
		}
		
		.footer-link{
			color:#ffe1e1; important
		}
		.footer-link:hover{
			color:gray; important
		}
		
		/* TOOLTIP */
		a {
		  text-decoration: none;
		  text-align: center;
		}
		
		a:hover{
			text-decoration: none;
			color:black;
		}

		a#info1[data-title]:hover:after {
		  text-align: center;
		  font-family: 'Dosis', sans-serif;
		  content: attr(data-title);
		  padding: 4px 8px;
		  color: #333;
		  position: absolute;
		  width:150px;
		  left: 5px;
		  top:15px;
		  /* white-space: nowrap; */
		  z-index: 9999;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		  border-radius: 5px;
		  -moz-box-shadow: 0px 0px 4px #222;
		  -webkit-box-shadow: 0px 0px 4px #222;
		  box-shadow: 0px 0px 4px #222;
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
		  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
		}
		
		a#resetAll1[data-title]:hover:after {
		  font-family: 'Dosis', sans-serif;
		  content: attr(data-title);
		  padding: 4px 8px;
		  color: #333;
		  position: absolute;
		  width:100px;
		  left: 30px;
		  top:220px;
		  /* white-space: nowrap; */
		  z-index: 9999;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		  border-radius: 5px;
		  -moz-box-shadow: 0px 0px 4px #222;
		  -webkit-box-shadow: 0px 0px 4px #222;
		  box-shadow: 0px 0px 4px #222;
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
		  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
		}
		
		a#resetZoom1[data-title]:hover:after {
		  font-family: 'Dosis', sans-serif;
		  content: attr(data-title);
		  padding: 4px 8px;
		  color: #333;
		  position: absolute;
		  width:100px;
		  margin-top: 120px;
		  margin-left:30px;
		  /* white-space: nowrap; */
		  z-index: 9999999;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		  border-radius: 5px;
		  -moz-box-shadow: 0px 0px 4px #222;
		  -webkit-box-shadow: 0px 0px 4px #222;
		  box-shadow: 0px 0px 4px #222;
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
		  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
		}
		
		#resetZoom{
		  position: absolute;
		  margin-top: 80px;
		  margin-left: 10px;
		  /* white-space: nowrap; */
		  z-index: 9999;
		  background: url("../img/reset-map.png") no-repeat;
		  height:50px;
		  width:50px;
		}
	
		
		#resetAll{
		  position: absolute;
		  margin-top: 130px;
		  margin-left:10px;
		  /* white-space: nowrap; */
		  z-index: 9999;
			background: url("../img/reset-all.png") no-repeat;
			width:50px;
			height:50px;
		
		}
	

	/* Switch View Buttons */
		.button {
			float: left;
			min-width: 210px;
			max-width: 210px;
			display: block;
			margin: 1em;
			padding: 1em 2em;
			border: none;
			background: none;
			color: inherit;
			vertical-align: middle;
			position: relative;
			z-index: 1;
			-webkit-backface-visibility: hidden;
			-moz-osx-font-smoothing: grayscale;
		}
		.button:focus {
			outline: none;
		}
		.button > span {
			vertical-align: middle;
		}

		.button--winona {
			overflow: hidden;
			padding: 0;
			-webkit-transition: border-color 0.3s, background-color 0.3s;
			transition: border-color 0.3s, background-color 0.3s;
			-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		}
		.button--winona::after {
			content: attr(data-text);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			color: #F05253;
			-webkit-transform: translate3d(0, 25%, 0);
			transform: translate3d(0, 25%, 0);
		}
		.button--winona > span {
			display: block;
		}
		.button--winona.button--inverted {
			color: #7986cb;
		}
		.button--winona.button--inverted:after {
			color: #fff;
		}
		.button--winona::after,
		.button--winona > span {
			padding: 1em 2em;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		}
		.button--winona:hover {
			border-color: #F05253;
			background-color: rgba(63, 81, 181, 0.1);
		}
		.button--winona.button--inverted:hover {
			border-color: #21333C;
			background-color: #21333C;
		}
		.button--winona:hover::after {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		.button--winona:hover > span {
			opacity: 0;
			-webkit-transform: translate3d(0, -25%, 0);
			transform: translate3d(0, -25%, 0);
		}
		.button--all{
			border: 3px solid;
			border-radius: 40px;
			font-weight: 600;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 10px;
		}
		.button-selected{
			background-color:black;
			color:white;
			border:3px solid black;
		}

/* media query */

	
@media all and (max-width: 550px) {
	
		/* SIDE MENU */
    	
    	/* side panel becomes integrated into main map */
    	#side {    

		  	left: 0px;
		  	padding-top: 50px;
		  	padding-bottom: 30px; 
		  width: 500px;  
		 	 
		}

		.prev-button,.next-button{
			display:none;
		}
		
		#spp-prev_next{
			display:none;
		}
		#subfamily-prev_next, #genus-prev_next{
			display:none;
		}

		
		/* SIDE: 2 views */
		
		
		/* each view includes the select boxes and legend, but legend is not displayed on mobile version */
		#spp_view, #diversity_view, #bentity_view{
			position: absolute;
			top:250px;
			left:20px;
			z-index: 999;
		}
		
		#querySpecies{
			margin-top:10px;
			margin-left:0px;
			width:150px;
		}
		
		#querySubfamily,#queryGenus{
			margin-top:10px;
			margin-left:0px;
			width:150px;
		}
		#queryBentity{
			margin-top:20px;
			margin-left:0px;
		}
		

		
		
		/* select boxes for diversity view */
		#diversityView-subfamily-select,#diversityView-genus-select{
			margin-left:-5px;
			margin-top:0px;
			margin-bottom:0px;
			max-width:120px;
		}
		
		#sppView-subfamily-select,#sppView-genus-select,#sppView-species-select{
			max-width:120px;
		}
		
		/* select box labels for diversity view */
		#queryGenus label{
			margin-top:0px;
		}
		
		
		#querySpecies label{
			font-size:14px;
			margin-top:0px;
			text-shadow: 1px 2px 3px black; 
		}
		
		#querySpecies h4{
			font-size:14px;
			margin-top:0px;
			text-shadow: 1px 2px 3px black; 
			display:none;
		}
		
		#queryBentity label{
    		text-shadow: 1px 2px 3px black; 
    	}
    	
    	#queryBentity h4{
    		text-shadow: 1px 2px 3px black; 
    	}
		
		
    	select{
    		margin-left: -5px;
    	}
    	
    	label{
    		margin-top:0px;
    		text-shadow: 1px 2px 3px black; 
    	}
    	
    	#bentityView-bentity-select{
    		max-width: 150px;
    		margin-left:5px;
    	}
    		

		#view-title{
			position: absolute;
			top:5px;
			left:30px;
		}
		
		/* SWITH VIEWS BUTTONS */
		
		/* the 3 switch bottons as a group, below current selection */
		#mode-buttons{
			margin-top:0px; 
			margin-left:32px;
			width:100px;
		}
		
		.button--all{
			border: 3px solid black;
			border-radius: 40px;
			font-weight: 300;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 10px;
		}
		
		.button {
				float: left;
			min-width: 120px;
			max-height:50px;

		}
		
		
    	
    	
    	/* SPECIES AUTOCOMPLETE */
    	
    	#species-autocomplete{
    		padding-left:0px;
    		width:120px;
    		display:none;
    	}
    	
    	
    	
    	/* FORM DIVERSITY VIEW*/
    	
    	#diversity_bentity p{
    		margin-top:20px;
    	}
    	
    	#queryGenus h4{
			color:white;
    		text-transform: uppercase;
    		font-style:bold;
		}
    	
		
		/* BENTITY MODE */
	
		#queryBentity h4{
			color:white;
    		text-transform: uppercase;
    		font-style:bold;
		}
		

		#select-bentity-button{
			top:30px;
			left:120px;
			padding-top: 12px;
			padding-bottom: 6px;
			padding-left: 2px;
			padding-right: 2px;
			width:150px;
			font-size:10px;
		}
		
		/* click on a region or */
		#bentity-description{
			font-size:16px;
			text-shadow: 1px 2px 3px black; 
			margin-top:0px;
		}
		
		#resetZoom, #resetAll{
			display:none;
		}
		

    /* MAIN PANEL */
    	
    	/* CHANGED */
    	#main {
		    left:0px;
				padding-top: 50px;
				padding-bottom: 30px;
		}	
		

		#current-selection-title{
				margin-top: 30px;
				margin-left: 180px;
				max-width:150px;
			font-size:16px;
		}

		#current-selection{
			margin-top: 54px;
			margin-left: 190px;
			font-size:14px;
				
		}
		
		#antWeb{
			display:none;
		}

		#antWiki{
			display:none;
		}

		#view-description{
			display:none;
		}
		
		footer p{
			float:left;
			padding-left:5px;
		}
		
		#footer-attr{
			display:none;
		}

		
}
		
