@import url(http://fonts.googleapis.com/css?family=Dosis);
    
    	body {
		  padding: 0;
		  margin: 0;
		  width: 100%;
		  height: 100%;
		  background-color: gray;
		}
		
		/* GENERAL */
		
		a{
	    	cursor: pointer;
    	}
    	
    	h1{
	    	font-family: 'Dosis', sans-serif;
	    	color: #fff;
	    }
    	
    	h2{
	    	font-family: 'Dosis', sans-serif;
	    	font-style: italic;
    	}
    	h3{
	    	font-family: 'Dosis', sans-serif;
	    	color: #fff;
    	}
    	p{
	    	font-family: 'Dosis', sans-serif;
	    	color: #fff;
	    }
	    .hide{
			opacity: 0;
		}
		.show{
			opacity: 1;
		}
    	
    	/* NAV */
    	
		.navbar-brand{
	    	font-size: 30px;
	    	font-family: 'Dosis', sans-serif;
    	}
    	
    	nav li a{
	    	font-family: 'Dosis', sans-serif;
    	}
    	
    	.share-button{
	    	margin: 10px;
    	}
    	
    	
    	/* SIDE MENU */
    	
    	#side {    
		  padding: 0;
		  margin: 0;
		  position: absolute;    
		  top: 100px;
		  left: 20px;
		  margin-bottom: 20px; 
		  min-height: 620px; 
		  overflow: auto;    
		  width: 300px;  
		  background-color: none;  
		  z-index: 2;
		}
		
		#species_view{
			position: absolute;
			top:150px;
			left:30px;
		}
		
		
		#diversity_view{
			display: none;
			position: absolute;
			top:150px;
			left:0px;
		}
		
		/* TOGGLE BUTTON */
		
		.button-wrap {
		  width: 100px;
		  margin: auto 0;
		  cursor: pointer;
		}
		.button-bg {
		  width: 100%;
		  height: 100%;
		  background-color: #ddd;
		  border-radius: 40px;
		  padding: 3px;
		  color:#fff;
		  transition:all 0.2s ease;
		}
		.button-switch {
		  position:relative;
		  left:0px;
		  width: 44px;
		  height: 44px;
		  background: url("../img/spp.png") no-repeat;
		  transition:all 0.2s ease;
		}
		
		.button-switch:hover{
			background: url("../img/spp2.png") no-repeat;
			transition:all 0.2s ease;
			z-index: 999;
		}
		
		.button-active .button-switch:hover{
			background: url("../img/map2.png") no-repeat;
			transition:all 0.2s ease;
			z-index: 999;
		}
		
		
		.button-active .button-switch { left:50px; }
		.button-active .button-bg { background-color:/* #22bb22 */; }
		.button-active .button-switch {
			 background: url("../img/map1.png") no-repeat;
		}

		/* FORM */
		
		label{
			color:white;
	    	font-family: 'Dosis', sans-serif;
	    	margin-top: 30px;
	    	margin-left: 10px;
    	}
    	select{
    		margin-left: 10px;
    	}
    	
    	/* FORM DIVERSITY VIEW*/
    	.diversity-button{
	    	margin-top: 10px;
	    	margin-left: 5px;
	    	font-family: Antenna,Helvetica,sans-serif;
			display: inline-block;
			text-align: center;
			padding: 8px;
			text-decoration: none;
			font-weight: bold;
			font-size: 10px;
			line-height: 1;
			text-transform: uppercase;
			position: relative;
			height: 30px;
			min-width: 80px;
			background: none;
			color: #111;
			border: 2px solid #111;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
	    }

	    .diversity-button:hover{
			 text-decoration: none;
			 color:white;
			 background-color: black;
	    }
	    
	    input#map-spp{
			background:url("../img/map3.png");
			background-repeat: no-repeat;
			border: 0;
			width: 50px;
			height: 50px;
			margin-top: 50px;
			margin-left: 115px;
			margin-right: 115px;
		}
		
		input#map-spp:hover{
			background:url("../img/map4.png");
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
		}
		
		input#map-subfamily{
			background:url("../img/map3.png");
			background-repeat: no-repeat;
			border: 0;
			width: 50px;
			height: 50px;
			margin-top: 50px;
			margin-left: 115px;
			margin-right: 115px;
		}
		
		input#map-subfamily:hover{
			background:url("../img/map4.png");
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
		}
		
		input#map-genus{
			background:url("../img/map3.png");
			background-repeat: no-repeat;
			border: 0;
			width: 50px;
			height: 50px;
			margin-top: 50px;
			margin-left: 115px;
			margin-right: 115px;
		}
		
		input#map-genus:hover{
			background:url("../img/map4.png");
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
		}
    	
    	.diversity-button.diversity-active{
    		-webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .3);
			-moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .3);
			box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .3);
    	}
    	
    	/* MAIN PANEL */
    	#main {
		  padding: 0;
		  margin-top: 0;
		  margin-left: 0;
		  margin-right: 20px;
		  position: absolute;    
		  top: 100px;
		  left: 200px;
		  right: 20px;
		  bottom: 20px;
		  overflow: auto;
		  /* background-color: #3E454C; can use to test*/
		  background-color: gray;
		  min-width: 600px;
		  min-height: 700px;
		  z-index: 1;
		}
		
		