@import url(http://fonts.googleapis.com/css?family=Dosis);
    
    	body {
		  padding: 0;
		  margin: 0;
		  width: 100%;
		  height: 100%;
		  background-color: gray;
		}
		
		/* GENERAL */
		
		a{
	    	cursor: pointer;
    	}
    	
    	h1{
	    	font-family: 'Dosis', sans-serif;
	    	color: #fff;
	    }
    	
    	h2{
	    	font-family: 'Dosis', sans-serif;
	    	font-style: italic;
    	}
    	h3{
	    	font-family: 'Dosis', sans-serif;
	    	color: #fff;
    	}
    	p{
	    	font-family: 'Dosis', sans-serif;
	    	color: #fff;
	    }
	    .hide{
			opacity: 0;
		}
		.show{
			opacity: 1;
		}
		.inline{
			display: inline;
		}
		.none{
			display: none;
		}
		
    	
    	/* NAV */
    	
		.navbar-brand{
	    	font-size: 30px;
	    	font-family: 'Dosis', sans-serif;
    	}
    	
    	nav li a{
	    	font-family: 'Dosis', sans-serif;
    	}
    	
    	.share-button{
	    	margin: 10px;
    	}
    	
    	
    	/* SIDE MENU */
    	
    	#side {    
		  padding: 0;
		  margin: 0;
		  position: absolute;    
		  top: 100px;
		  left: 10px;
		  margin-bottom: 20px; 
		  min-height: 750px; 
		  /* overflow: auto;  */   
		  width: 280px;  
		  background-color: none;  
		}
		
		
		
		/* SIDE: top icons */
		#info{
			position: absolute;
			top:-30px;
			left:27px;
			background: url("../img/info.png") no-repeat;
			width:50px;
			height:50px;
		
		}
		
		#resetAll{
			position: absolute;
			top:-30px;
			left:87px;
			background: url("../img/reset-all.png") no-repeat;
			width:50px;
			height:50px;
		
		}
		
		#export{
			position: absolute;
			top:-30px;
			left:147px;
			background: url("../img/export.png") no-repeat;
			width:50px;
			height:50px;
		
		}
		/* RESET ZOOM */

	    #reset_zoom{
			position: absolute;
			top:-30px;
			left:147px;
			background-color: none;
			height:50px;
			width:50px;
			background: url("../img/reset-map.png") no-repeat;
			cursor: pointer;
		}
		
		

		
		/* SIDE: 2 views */
		
		#diversity_view{
			/* opacity: 0; */
			display: none;
			position: absolute;
			top:150px;
			left:0px;
		}
		
		
		#spp_view{
			position: absolute;
			top:120px;
		}
		
		
		#view-title{
			position: absolute;
			top:5px;
			left:50px;
		}
		
		
		/* TOGGLE BUTTON */
		
		.button-wrap {
		  width: 100px;
		  margin: 40px auto 0;
		  cursor: pointer;
		  position: absolute;
		  left: 50px;
		  top:35px;
		}
		.button-bg {
		  width: 100%;
		  height: 100%;
		  background-color: #ddd;
		  border-radius: 40px;
		  padding: 3px;
		  color:#fff;
		  transition:all 0.2s ease;
		}
		.button-switch {
		  position:relative;
		  left:0px;
		  width: 44px;
		  height: 44px;
		  background: url("../img/spp.png") no-repeat;
		  transition:all 0.2s ease;
		}
		
		.button-switch:hover{
			background: url("../img/spp2.png") no-repeat;
			transition:all 0.2s ease;
			z-index: 999;
		}
		
		.button-active .button-switch:hover{
			background: url("../img/map2.png") no-repeat;
			transition:all 0.2s ease;
			z-index: 999;
		}
		
		
		.button-active .button-switch { left:50px; }
		.button-active .button-bg { background-color:/* #22bb22 */; }
		.button-active .button-switch {
			 background: url("../img/map1.png") no-repeat;
		}

		/* FORM */
		
		label{
			color:white;
	    	font-family: 'Dosis', sans-serif;
	    	margin-top: 30px;
	    	margin-left: 10px;
    	}
    	select{
    		margin-left: 10px;
    	}
    	
    	#bentity-select{
    		max-width: 150px;
    	}
    	
    	#sppView-species-select{
    		max-width:200px;
    	}
    	
    	/* FORM DIVERSITY VIEW*/
    	.diversity-button{
	    	margin-top: 10px;
	    	margin-left: 3px;
	    	font-family: Antenna,Helvetica,sans-serif;
			display: inline-block;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 4px;
			padding-right: 4px;
			text-decoration: none;
			font-weight: bold;
			font-size: 10px;
			line-height: 1.5;
			text-transform: uppercase;
			position: relative;
			height: 30px;
			width: 70px;
			background: none;
			color: #111;
			border: 2px solid #111;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
	    }

	    .diversity-button:hover{
			 text-decoration: none;
			 color:white;
			 background-color: black;
			 cursor:pointer;
	    }
	    
	    .diversity-active{
    		-webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .3);
			-moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .3);
			box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .3);
    	}
    	
    	#diversity_location p{
    		margin-top:20px;
    	}
    	
    	
    	/* BROWSE SPP BUTTON */
    	
    	#browse{
    		margin-top: 44px;
			margin-left: 90px;
			width: 50px;
			height: 50px;
			background:url("../img/browse.png");
			background-repeat: no-repeat;
    	}
    	
    	
    	/* MAP BUTTONS */
	    
	    #map-spp{
			background:url("../img/map3.png");
			background-repeat: no-repeat;
			border: 0;
			width: 50px;
			height: 50px;
			margin-top: 10px;
			margin-left: 86px;
		}
		
		#map-spp:hover{
			background:url("../img/map4.png");
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
			cursor: pointer;
		}
		
		#map-subfamily{
			background:url("../img/map3.png");
			background-repeat: no-repeat;
			border: 0;
			width: 50px;
			height: 50px;
			margin-top: 50px;
			margin-left: 80px;
		}
		
		#map-subfamily:hover{
			background:url("../img/map4.png");
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
			cursor: pointer;
		}
		
		#map-genus{
			background:url("../img/map3.png");
			background-repeat: no-repeat;
			border: 0;
			width: 50px;
			height: 50px;
			margin-top: 50px;
			margin-left: 80px;
			
		}
		
		#map-genus:hover{
			background:url("../img/map4.png");
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
			cursor: pointer;
		}
		
		#map-location{
			background:url("../img/map3.png");
			background-repeat: no-repeat;
			border: 0;
			width: 50px;
			height: 50px;
			margin-top: 50px;
			margin-left: 80px;
			
		}
		
		#map-location:hover{
			background:url("../img/map4.png");
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
			cursor: pointer;
		}
		
		
    	
    	
    	/* MAIN PANEL */
    	#main {
		  padding: 0;
		  margin-top: 0;
		  margin-bottom: 0;
		  margin-left: 0;
		  margin-right: 20px;
		  position: absolute;    
		  top: 80px;
		  left: 250px;
		  right: 20px;
		  bottom: 10px;
		  overflow: auto;
		  background-color:/*  #3E454C */none;
		  height: 820px;
		}	
		
		
		#current-spp-title{
			margin-top: 10px;
			margin-left: 50px;
			color:black;
			font-family: 'Dosis', sans-serif;
			font-size:20px;
			position:absolute;
			z-index:99999999999999999999999;
			text-shadow: 1px 2px 3px white;
		}
		
		#current-species{
			color:black;
			position: absolute;
			margin-top: 40px;
			margin-left: 50px;
			font-family: 'Dosis', sans-serif;
			font-size:18px;
			font-style: italic;
			z-index:999999999999999;
			text-shadow: 1px 2px 3px white;
		}
	
	

		
		/* SPECIES BROWSE PANEL */
		#spp-browse-panel{
			width: 60%;
			margin-left:20%;
			margin-right:20%;
			margin-top:200px;
			height:500px;
			background-color:black;
			z-index:100;
			position:absolute;
			top:0;
			left:0;
			display:none;
			opacity:0.8;
		}
		
		#close{
			opacity:1;
			color:white;
			background-color:black;
			z-index:101;
			position:absolute;
			width:50px;
			height:50px;
			top:0;
			right:0;
			padding:6px;
			font-size:30px;
		}
		#close:hover{
			cursor:pointer;
			color:gray;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			transition: all 1s ease;
		}
		
		/* TOOLTIP */
		a {
		  color: #900;
		  text-decoration: none;
		}

		a:hover {
		  color: red;
		  position: relative;
		}

		a#info1[data-title]:hover:after {
		  text-align: center;
		  font-family: 'Dosis', sans-serif;
		  content: attr(data-title);
		  padding: 4px 8px;
		  color: #333;
		  position: absolute;
		  width:200px;
		  left: 10px;
		  top:15px;
		  /* white-space: nowrap; */
		  z-index: 9999;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		  border-radius: 5px;
		  -moz-box-shadow: 0px 0px 4px #222;
		  -webkit-box-shadow: 0px 0px 4px #222;
		  box-shadow: 0px 0px 4px #222;
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
		  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
		}
		
		a#resetAll1[data-title]:hover:after {
		  font-family: 'Dosis', sans-serif;
		  content: attr(data-title);
		  padding: 4px 8px;
		  color: #333;
		  position: absolute;
		  width:100px;
		  left: 60px;
		  top:15px;
		  /* white-space: nowrap; */
		  z-index: 9999;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		  border-radius: 5px;
		  -moz-box-shadow: 0px 0px 4px #222;
		  -webkit-box-shadow: 0px 0px 4px #222;
		  box-shadow: 0px 0px 4px #222;
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
		  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
		}
		
		a#resetZoom[data-title]:hover:after {
		  font-family: 'Dosis', sans-serif;
		  content: attr(data-title);
		  padding: 4px 8px;
		  color: #333;
		  position: absolute;
		  width:100px;
		  left: 120px;
		  top:15px;
		  /* white-space: nowrap; */
		  z-index: 9999;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		  border-radius: 5px;
		  -moz-box-shadow: 0px 0px 4px #222;
		  -webkit-box-shadow: 0px 0px 4px #222;
		  box-shadow: 0px 0px 4px #222;
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
		  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
		}
		
		a#browse1[data-title]:hover:after {
		  font-family: 'Dosis', sans-serif;
		  content: attr(data-title);
		  padding: 4px 8px;
		  color: #333;
		  position: absolute;
		  width:120px;
		  left: 50px;
		  top:50px;
		  /* white-space: nowrap; */
		  z-index: 9999;
		  -moz-border-radius: 5px;
		  -webkit-border-radius: 5px;
		  border-radius: 5px;
		  -moz-box-shadow: 0px 0px 4px #222;
		  -webkit-box-shadow: 0px 0px 4px #222;
		  box-shadow: 0px 0px 4px #222;
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
		  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
		  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
		}


		
		