/* MAIN MAP */

		#mapContainer svg {

		}
		
		.gratLines{
		  stroke:#FFF6E5;
		}
		
		.gratBackground{
		  fill:#E3CDA4;
		  /* #7ECEFD; */
		}

		.bentities{
			stroke: black;
			fill:#3E454C;
			opacity:0.7; 
			stroke-width:0.5px;
		}
		
		.water{
			fill:blue;
		}
	


/* ZOOM */
		#zoom_control{
			position: absolute;
			top:10px;
			left:10px;
			background-color: none;
			height:50px;
			width:90px;
		}
		
		#zoom-in{
			position: absolute;
			top:0px;
			left:0px;
			background: url("../img/plus.png") no-repeat;
			width: 40px;
			height:40px;
		}
		
		#zoom-out{
			position: absolute;
			top:0px;
			left:50px;
			background: url("../img/minus.png") no-repeat;
			width: 40px;
			height:40px;
			
		}
		
		#zoom-in:hover{
			background:url("../img/plus2.png") no-repeat;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
			cursor: pointer;
		}
		
		#zoom-out:hover{
			background:url("../img/minus2.png") no-repeat;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			transition: all 500ms ease;
			cursor: pointer;
		}
	

/* INFOLABEL */

		.infolabel{
			position:absolute;
			top:80px;
			right:40px;
			width:300px;
			height:110px;
			z-index:10000;
			background-color:black;
			color:white;
			font-family: 'Dosis', sans-serif;
			text-align: center;
		}


/* INFO PANEL (ON CLICK) */
		
		.infopanel{
			position:absolute;
			width: 60%;
			margin-left:20%;
			margin-right:20%;
			margin-top:200px;
			z-index:10000;
			height:500px;
			background-color:black;
			color:white;
			font-family: 'Dosis', sans-serif;
			text-align: center;
			opacity:0.8;
			overflow:scroll;
		}
		
		.close-info{
			opacity:1;
			color:white;
			background-color:black;
			z-index:101;
			position:absolute;
			width:50px;
			height:50px;
			top:0;
			right:0;
			padding:6px;
			font-size:30px;
		}
		.close-info:hover{
			cursor:pointer;
			color:gray;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			transition: all 1s ease;
		}

/* LEGEND */

	#species-legend{
		position:absolute;
		margin-top:20px;
		margin-left:10px;
		left:10;
		top:100;
		background-color:none;
		width:200px;
		height:200px;
	}
		
	
	.colorbox{
		width:50px;
		height:25px;
		margin-top:5px;
		border: 1px solid black;
		display: inline-block;
		margin-right: 20px;
		vertical-align: middle;
	}

	.legendRow {
		color: white;
		vertical-align: middle;
	}
	
	
	.categoryName{
		color:white;
		margin-top:11px;
		margin-left:30px;
		float:right;
	}
